/Data
/Models/ModelAttention/mergedData
/Models/ModelCNN/mergedData
/Models/ModelTForcingAttention/mergedData
/TestModels/TestData
/Yolo/tasks
/Yolo/train_fixed
/Yolo/Yolo8nDetection
/Yolo/YoloPoseDetection/dataForYoloPose.zip
/Yolo/YoloPoseDetection/data
/Yolo/yolov8n.pt
/Yolo/test.JPG
/Yolo/img.jpg
/Yolo/best_test1_with_medium
/Yolo/best_test1_with_nano
/Yolo/best_test2_with_nano
/Preprocessing/Preprocessing.py
/Preprocessing/Preprocessing.ipynb
/GenerateData/newData